.new-task {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: rgba(21, 31, 55, 0.85);
        padding: 1rem;
        cursor: pointer;
        margin-left: 0.5rem;

        .plus-icon {
            width: 1.5rem;
            height: 1.5rem;
            color: white;

            &--hidden {
                visibility: hidden;
                opacity: 0;
                transform: scale(0.7);
            }
        }
    }

    input[type=text] {
        border: none;
        border-radius: 0.3rem;
        padding: 0.5rem;
        margin-right: 0.5rem;
    }

    // input[type=submit] {
    //     border: none;
    //     border-radius: 1rem;
    //     background-color: #B2AC88;
    //     color: white;
    //     padding: 0.5rem 1rem;
    //     margin-left: 0.5rem;
    //     font-weight: bold;
    // }
}